dist: trusty

language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - nightly

before_script:
  - composer install

script:
  - php vendor/bin/phpcs --standard=./test/codesniffer.xml --encoding=utf-8 --extensions=php -p -s src
  - phpunit -c test/phpunit.xml
